{
  "singleQuote": false,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.js", "**/*.jsx"],
      "options": {
        "singleQuote": true
      }
    }
  ],
  "plugins": ["@prettier/plugin-xml"]
}
