.header-around__logo {
  width: 173px;
  height: 33px;
  background: url(../../../images/logo.svg) center/173px 33px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

@media screen and (max-width: 919px) {
  .header-around__logo {
    padding-top: 10.5px;
    width: 126px;
    height: 24px;
    margin-left: 30px;
    background-size: 126px 24px;
  }
}
