.button_type_submit_type_account {
  background-color: #fff !important;
  color: #000 !important;
  margin: 0 0 15px !important;
}

.button_type_submit_type_account:hover {
  opacity: 0.85 !important;
}
