.header__user-email {
  padding: 0;
  padding-top: 11px;
  margin: 0;
  margin-right: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (max-width: 919px) {
  .header__user-email {
    padding-top: 0;
    margin: 0;
    text-align: center;
  }
}
