.popup__input {
  padding: 30px 0 13px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
  box-shadow: none;
}

.popup__input::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

@media screen and (max-width: 919px) {
  .popup__input {
    font-size: 12px;
    line-height: 15px;
    padding: 30px 0 13px;
  }
}
