@import url(./__logo/header__logo.css);
@import url(./__account/header__account.css);
@import url(./__user-email/header__user-email.css);
@import url(./__log-out/header_log-out.css);
@import url(./__link/header__link.css);
@import url(./_around/header_around.css);
@import url(./__logo-and-hamburger/header__logo-and-hamburger.css);
@import url(./__logo/_around/header__logo_around.css);

.header {
  padding-top: 45px;
  margin: 0 auto;
  height: 74px;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 919px) {
  .header {
    padding-top: 28px;
    height: 56px;
  }
}
